<!--
<app-person><</app-person>
-->

<!--<h1> {{title}} </h1>-->
<!--<table id="api">-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>NAME</th>-->
<!--      <th>USERNAME</th>-->
<!--      <th>EMAIL</th>-->
<!--      <th>ADDRESS</th>-->
<!--      <th>GEO LOCATION</th>-->
<!--      <th>PHONE</th>-->
<!--      <th>WEBSITE</th>-->
<!--      <th>COMPANY</th>-->
<!--    </tr>-->
<!--  <tr *ngFor='let item of apiData'>-->
<!--      <td>{{ item.id}}</td>-->
<!--      <td>{{ item.name}}</td>-->
<!--      <td>{{ item.username}}</td>-->
<!--      <td>{{ item.email}}</td>-->
<!--      <td>{{ item.address.street}} {{ item.address.suite}} {{ item.address.city}} {{ item.address.zipcode}}</td>-->
<!--      <td>{{ item.address.geo.lat}} {{ item.address.geo.lng}}</td>-->
<!--      <td>{{ item.phone}}</td>-->
<!--      <td>{{ item.website}}</td>-->
<!--      <td>{{ item.company.name}} {{ item.company.catchPhrase}} {{ item.company.bs}}</td>-->
<!--  </tr>-->
<!--</table>-->


<h1> {{title}} </h1>
<!--
<table id="api">
    <tr>
      <th>Scenario Id</th>
      <th>Client Id</th>
      <th>Organization Id</th>
      <th>Derive Module Id</th>
      <th>Scenario Name</th>
      <th>Description</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>Last Updated By</th>
      <th>Last Updated On</th>
    </tr>
  <tr *ngFor='let item of gpscenarioData'>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[4] }}</td>
      <td>{{ item[5] }}</td>
      <td>{{ item[6] }}</td>
      <td>{{ item[7] }}</td>
      <td>{{ item[8] }}</td>
      <td>{{ item[9] }}</td>
  </tr>
</table>
-->



<!--
<ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>
-->

<ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>
